{% extends "admin/base.html" %}

{% block title %}
	Cadastro - TMS
{% endblock %}
<script src="https://js.stripe.com/v3/"></script>
{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg }}</div><br>
	{% endfor %}
	{% endwith %}
	
	<div class="row">
		<div class="forms col">
			{{ wtf.quick_form(form, enctype="multipart/form-data") }}			
		</div>
		{% if form.image.data %}
		<div class="col">
			<img id="preview" src="{{ form.image.data }}" alt="">
		</div>
		{% else %}
		
		{% endif %}
	</div>
	
    
	<script>
		function readImage() {
		if (this.files && this.files[0]) {
			var file = new FileReader();
			file.onload = function(e) {
				document.getElementById("preview").src = e.target.result;
			};       
			file.readAsDataURL(this.files[0]);
		}
	}
	
	document.getElementById("img-input").addEventListener("change", readImage, false);
	</script>
    
{% endblock %}