{% extends "admin/base.html" %}

{% block title %}
	Ferramentas - TMS
{% endblock %}
<script src="https://js.stripe.com/v3/"></script>
{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg }}</div><br>
	{% endfor %}
	{% endwith %}

    {% if not ferramentas %}
		<div class="container mg-3 p-3">

			<a href="{{ url_for('admin.add_ferramenta') }}" class="btn btn-success">
				<i class="fas fa-plus fa-fw"></i>
				Cadastrar ferramenta
			</a>
			<a href="{{ url_for('admin.cleartable',type='ferramentas') }}" class="btn btn-danger">
				<i class="fas fa-trash fa-fw"></i>
				Limpar tabela
			</a>

		</div>		
		<div class="flash-error">Não há ferramentas cadastradas.</div>
	{% else %}
    <div class="container mg-3 p-3">
		<h4 class="text-center p-3">Tabela Ferramentas</h4>

		<a href="{{ url_for('admin.add_ferramenta') }}" class="btn btn-success">
			<i class="fas fa-plus fa-fw"></i>
			Cadastrar ferramenta
		</a>
		<a href="{{ url_for('admin.cleartable',type='ferramentas') }}" class="btn btn-danger">
			<i class="fas fa-trash fa-fw"></i>
			Limpar tabela
		</a>

	
		<div class="mt-3">	
			<table class="table table-striped tabela-responsiva">
				<tr>
					<th>Item id</th>
					<th>Nome</th>
					<th>Img Link</th>
					<th>Detalhes</th>
					<th>Operações</th>
				</tr>
    {% for ferramenta in ferramentas %}
				<tr>
					<td>{{ ferramenta.id }}</td>
					<td>{{ ferramenta.name }}</td>
					<td>{{ ferramenta.image[:15] }}...</td>
					<td>{{ ferramenta.details[:40] | safe }}...</td>
					<td>
						<a class="btn btn-info" href="{{ url_for('admin.edit', type='ferramenta', id=ferramenta.id) }}">&#9998;</a>
						<a class="btn btn-danger" href="{{ url_for('admin.delete', type='ferramenta', id=ferramenta.id) }}">&#10060;</a>
					</td>
				</tr>
    {% endfor %}
    		</table>
		</div>
	</div>

	{% endif %}
{% endblock %}