{% extends "admin/base.html" %}

{% block title %}
	Máquinas - TMS
{% endblock %}
<script src="https://js.stripe.com/v3/"></script>
{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg }}</div><br>
	{% endfor %}
	{% endwith %}

    {% if not maquinas %}
		<div class="container mg-3 p-3">

			<a href="{{ url_for('admin.addmaq') }}" class="btn btn-success">
				<i class="fas fa-plus fa-fw"></i>
				Cadastrar máquina
			</a>
			<a href="{{ url_for('admin.cleartable',type='maquinas') }}" class="btn btn-danger">
				<i class="fas fa-trash fa-fw"></i>
				Limpar tabela
			</a>

		</div>
		<div class="flash-error">Não há máquinas cadastradas.</div>
	{% else %}
	<div class="container mg-3 p-3">

		<h4 class="text-center p-3">Tabela Máquinas</h4>
		
			<a href="{{ url_for('admin.addmaq') }}" class="btn btn-success mt-2">
				<i class="fas fa-plus fa-fw"></i>
				Cadastrar máquina
			</a>
			<a href="{{ url_for('admin.cleartable',type='maquinas') }}" class="btn btn-danger mt-2">
				<i class="fas fa-trash fa-fw"></i>
				Limpar tabela
			</a>
			
		<div class="mt-3">	
			<table class="table table-striped tabela-responsiva" style="width: 95vw;">
				<tr>
					<th>Item id</th>
					<th>Código</th>
					<th>Nome</th>
					<th>Operações</th>
				</tr>
			{% for maquina in maquinas %}
				<tr>
					<td>{{ maquina.id }}</td>
					<td>{{ maquina.code }}</td>
					<td>{{ maquina.name }}</td>
					<td>
						<a class="btn btn-info" href="{{ url_for('admin.edit', type='maquina', id=maquina.id) }}">&#9998;</a>
						<a class="btn btn-danger" href="{{ url_for('admin.delete', type='maquinas', id=maquina.id) }}">&#10060;</a>
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>		
	</div>

	{% endif %}
{% endblock %}