{% extends "admin/base.html" %}

{% block title %}
	Máquinas - TMS
{% endblock %}
<script src="https://js.stripe.com/v3/"></script>
{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg }}</div><br>
	{% endfor %}
	{% endwith %}

    {% if not maquinas %}
		<div class="dp-flex">
		<div class="add-new btn-success btn">
			<a href="{{ url_for('admin.addmaq') }}" class="text-light">Adicionar máquina</a>
		</div>
		<div class="add-new btn-success btn">
			<a href="{{ url_for('admin.cleartable',type='maquinas') }}" class="text-light">Limpar tabela</a>
		</div>
		</div>
		<div class="flash-error">Não há máquinas cadastradas.</div>
	{% else %}
	<div class="container">
		
			<a href="{{ url_for('admin.addmaq') }}" class="text-light">
				<input type="button" value="Adicionar máquina">
			</a>
			<a href="{{ url_for('admin.cleartable',type='maquinas') }}" class="text-light">
				<input type="button" value="Limpar tabela">
			</a>				
		
		<div class="table tabela-responsiva">	
			<table>
				<tr>
					<th>Item id</th>
					<th>Código</th>
					<th>Nome</th>
					<th>Img Link</th>
					<th>Detalhes</th>
					<th>Operações</th>
				</tr>
			{% for maquina in maquinas %}
				<tr>
					<td>{{ maquina.id }}</td>
					<td>{{ maquina.code }}</td>
					<td>{{ maquina.name }}</td>
					<td>{{ maquina.image[:15] }}...</td>
					<td>{{ maquina.details[:40] | safe }}...</td>
					<td>
						<a href="{{ url_for('admin.edit', type='maquina', id=maquina.id) }}">&#9998;</a>
						<a href="{{ url_for('admin.delete', type='maquinas', id=maquina.id) }}">&#10060;</a>
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>

	{% endif %}
{% endblock %}