body {
	max-width: 100%;
}

.flash-error, .help-block, .success {
	text-align: center;
	padding: 5px;
	font-weight:bold;
}

.flash-error, .help-block {
	color: red;
}

.success {
	color:green;
}

.fixarRodape {
	bottom: 0;
	position: fixed;
	width: 100%;
	text-align: center;
}
.forms {
	margin: 25px;
	background-color: #343a40;
	border-radius: 10px;
	padding: 25px;
	color: aliceblue;
	min-height: 450px;
}
.col {
	width: 490px;
}

.col img {
	margin-left: 50px;
	min-height: 450px;
	max-height: 451px;
	transition: 300ms;
	border-radius: 10px;
}
.col img:hover {
	transform: scale(1.1);
}
.wrapper {
	max-width: 100%;
	overflow-x: auto;
}