:root {
	--pcolor: #444444;
	--scolor: #FF6600;
	--fundo: #F2F2F2;
	--navcolor: #444444;
}
body {
	background: var(--fundo);
	font-family: 'Poppins', sans-serif;
}
.navbar-brand b {
	color: var(--scolor);
}
.cp {
	color: var(--pcolor);
}
.sp {
	color: var(--scolor);
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: var(--pcolor);
	left: 0;
	right: 0;
	bottom: -20px;
}
.btn-default#submit {
	color: var(--fundo);
	display: block;
	width: 100%;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 2px solid var(--scolor);
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 2px;
}
.btn-detalhe {
	color: var(--fundo);
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background: var(--pcolor);
	border: 2px solid var(--scolor);
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 2px;
}
.btn-detalhe:hover, .btn-detalhe:focus, .btn-default#submit:focus {
	color: #fff;
	background: var(--scolor);
	box-shadow: none;
}
.fourth, .btn-default#submit {
	border-color: var(--scolor);
	color: var(--fundo);
	background-image: -webkit-linear-gradient(45deg, var(--scolor) 50%, transparent 50%);
	background-image: linear-gradient(45deg, var(--scolor) 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.fourth:hover, .btn-default#submit:hover {
	background-position: 0;
}
.btn-disp {
	color: var(--scolor);
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid var(--scolor);
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
	display: block;
}
.btn-disp:hover, .btn-disp:focus {
	color: #fff;
	background: var(--scolor);
	box-shadow: none;
}
.btn-ferr {
	color: #f1a35a;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #f1a35a;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
	display: block;
}
.btn-ferr:hover, .btn-ferr:focus {
	color: #fff;
	background: #f1a35a;
	box-shadow: none;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
.img-profile {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
.forms {
	max-width: 450px;
	margin: auto;
	background-color: #343a40;
	border-radius: 10px;
	padding: 25px;
	color: aliceblue;
}
.login-form {
	max-width: 450px;
	margin: auto;
	background-color: var(--pcolor);
	box-shadow: -5px 0px 0px 0px var(--scolor);
	border-radius: 10px;
	padding: 25px;
	color: var(--fundo);
}
.btn-busca {
	background-color: var(--scolor);
	color: var(--fundo);
}
.card-maquina {
	background-color: white;
	box-shadow: -5px 5px var(--pcolor);
	max-width: 18rem;
	transition: 300ms ease-in-out;
}
.card-maquina:hover {
	box-shadow: -5px 5px var(--scolor);
}
.card-title {
	color: var(--scolor);
	font-weight: bolder;
}
.sec {
	height: 100vh;
}
.pesquisa {
	transition: 300ms;
  	width: 50%
}
.pesquisa:hover {	
	width: 120%;
}
.painel {
	background-color: #748589;
	color: white;
	border-radius: 10px;
	margin: 15px;
	padding: 15px;
}
.card-image {
	display: block;
	max-width: 500px;
	max-height: 500px;
	margin: auto;
	margin-top: 50px;
	border-radius: 15px;
}
.topo {
    position: fixed;
    bottom: 5%;
    right: 5%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: var(--scolor);
    font-size: 50px;
    color: var(--fundo);
    text-align: center;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 10;
}
.topo:hover {
	color: var(--fundo);
	transform: scale(1.02);
}
.c-loader {
	border: 6px solid var(--fundo);
	border-top-color: var(--scolor);
	animation: is-rotating 1s infinite;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
@keyframes is-rotating {
	to {
	  transform: rotate(1turn);
	}
}