:root {
	--pcolor: #444444;
	--scolor: #FF6600;
	--fundo: #F2F2F2;
	--navcolor: #444444;
}
body {
	background: var(--fundo);
	font-family: 'Poppins', sans-serif;
}
section {
  min-height: 100vh;
}
#bannerInicio {
  background: url(https://images.unsplash.com/photo-1638442398386-803b39c6e5a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=931&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -600px;
}
.nav-item:hover {
  color: var(--fundo);
  box-shadow: 0px 5px 0px 0px var(--scolor);
}