{% extends "base.html" %}

{% block title %}
	FactoryMS - Sistema de Gestão de Usinagem
{% endblock %}

{% block content %}
	

	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}

	
	{% if search %}
	<div class="container-xl">
		<div class="row p-5">
			<div class="col-md-12">
				<h2>Resultado da busca por "{{ query }}":</h2>
					<div class="row">
						{% for maquina in maquinas.items %}
						<div class="col-sm-3 mb-3">
							<div class="card card-maquina" style="width: 18rem;">
								<img src="{{ maquina.image }}" class="card-img-top" alt="{{ maquina.name }}">
								<div class="card-body">
								  <h5 class="card-title">{{ maquina.code }}</h5>
								  <h6 class="card-text">{{ maquina.name }}</h6>
								  <p class="card-text">{{ maquina.details }}</p>
								  <a href="{{ url_for('maquina', id=maquina.id) }}" class="btn btn-detalhe">Ver detalhes</a>
								</div>
							  </div>
						</div>	
						{% endfor %}					
				</div>
			</div>
		</div>
	</div>	
	{% else %}

	<div class="container-xl">
		<div class="row p-5">
			<div class="col-md-12">
				<h2 class="card card-maquina p-2">Máquinas</h2>		
					<div class="row">
						{% for maquina in maquinas.items %}
						<div class="col-sm-2 mb-3">
							<div class="card card-maquina">
								<img src="{{ maquina.image }}" class="card-img-top p-4" alt="{{ maquina.name }}">
								<div class="card-body">
								  <h5 class="card-title">{{ maquina.code }}</h5>
								  <h6 class="card-text">{{ maquina.name }}</h6>
								  <a href="{{ url_for('maquina', id=maquina.id) }}" class="btn btn-detalhe fourth">Ver detalhes</a>
								</div>
							  </div>
						</div>	
						{% endfor %}					
				</div>
			</div>
		</div>

		<!-- Pagination Links-->
			<div class="text-center">
				<a href="{{ url_for('home', page=maquinas.prev_num) }}"
				class="btn btn-outline-dark 
				{% if maquinas.page == 1 %}disabled{% endif %}">
					&laquo;
				</a>
			<!-- Loop through the number of pages to display a link for each-->
				{% for page_num in maquinas.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
					{% if page_num %}
						<!-- Check for the active page and set the link to "Active"-->
						{% if maquinas.page == page_num %}
						<a href="{{ url_for('home', page=page_num) }}"
						class="btn btn-dark">
							{{ page_num }}
						</a>
						{% else %}
						<a href="{{ url_for('home', page=page_num) }}"
						class="btn btn-outline-dark">
							{{ page_num }}
						</a>
						{% endif %}
					{% else %}
						...
					{% endif %}
				{% endfor %}
				<a href="{{ url_for('home', page=maquinas.next_num) }}"
				class="btn btn-outline-dark 
				{% if maquinas.page == maquinas.pages %}disabled{% endif %}">
					&raquo;
				</a>
			</div>
			<p class="text-center mt-3">
			Página {{ maquinas.page }} de {{ maquinas.pages }}
			</p>

	</div>


	{% endif %}


	
	{% if not maquinas %}
	<div class="text-center">
		Nenhuma maquina cadastrada.<br>
		<a href="{{ url_for('home') }}"></a>
	</div>
	{% endif %}

	<footer class=" bg-dark mt-3" style="height: 10vh;">

	</footer>
	

{% endblock %}