{% extends "base.html" %}

{% block title %}
	{{ item.name }} - TMS
{% endblock %}

{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}

			<div class="item-display">				
				<b>{{ item.code }}</b>
				<span class="right-item">{{ item.name }}</span>
                <div class="details">{{ item.details | safe }}</div>				
			</div>

{% endblock %}


