{% extends "base.html" %}

{% block title %}
	{{ maquina.name }} - TMS
{% endblock %}

{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}
	<section class="section">
		<!--
		<div class="container">
		  <button class="button is-primary" id="submitBtn">Purchase!</button>
		</div>
		 -->
		 <!-- Detalhes da Máquina-->
		<section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 rounded" src="{{ maquina.image }}" alt="{{ maquina.name }}" /></div>
                    <div class="col-md-6">
                        <!--<div class="small mb-1">{{ maquina.code }}</div>-->
                        <h1 class="display-5 fw-bolder">{{ maquina.name }}</h1>
                        <div class="fs-5 mb-5">
                            <span>Código SAP {{ maquina.code }}</span>
                        </div>
						<h5>Detalhes: {{ maquina.details | safe }}</h5>
						<h5>Tamanho do Magazine: 30</h5>
						<h5>RPM Max: 15000</h5>
						<h5>Data de aquisição: 12/12/2021</h5>
						<h5>Serial: bg15423554234</h5>

						<hr>

                        <div class="d-flex">
							<a id="btn-dispositivos" class="btn btn-info mr-1 text-white">Dispositivos</a>
							<a id="btn-produtos" class="btn btn-info text-white">Produtos</a>														
                        </div>
                    </div>
                </div>
            </div>
        </section>			
			
		<!--Produtos-->
		<section id="produtos" class="sec" style="display: none;">
		
			{% if maquina.itens %}			
			<div class="container produtos">
			<h3 class="mt-3 text-center">Produtos <b>{{ maquina.itens | length}}</b> </h3><br>
			<input id="myInputP" type="text" placeholder="Buscar...">
				<div id="produto" class="row">
					{% for item in maquina.itens %}
					<div class="col-sm-3 mg-3 mt-3">				
						
							<div class="card text-center p-2">					
								<h3>{{ item.code }}</h3>
								<h5>{{ item.name }}</h5>
								<a href="{{ url_for('item', id=item.id) }}" class="btn btn-detalhe">Ver detalhes</a>
							</div>
						
					</div>
					
					{% endfor %}
				</div>
			</div>
			{% else %}
				<h3 class="text-center mt-3">Sem produtos cadastrados</h3>
			{% endif %}

		</section>

		<!--Dispositivos-->
		<section id="dispositivos" class="sec" style="display: none;">
		{% if maquina.dispositivos %}
		<div class="container">				
		<h3 class="mt-3 text-center">Dispositivos <b>{{ maquina.dispositivos | length}}</b></h3><br>
		<input id="myInputD" type="text" placeholder="Buscar...">
			<div id="dispositivo" class="row mt-3">
				{% for dispositivo in maquina.dispositivos %}
				<div class="col-sm-3 mg-3">				
					
						<div class="card text-center p-2">
							<div class="img-wrapper" >
								<img src="{{ dispositivo.image }}" style="max-height: 200px;" class="card-img">
							</div>
							<h3>{{ dispositivo.code }}</h3>
							<h5>{{ dispositivo.name }}</h5>
							<a href="{{ url_for('dispositivo', id=dispositivo.id) }}" class="btn btn-detalhe">Ver detalhes</a>
						</div>
					
				</div>
				
				{% endfor %}
			</div>
		</div>
		{% else %}
			<h3 class="text-center mt-3">Sem dispositivos cadastrados</h3>
		{% endif %}

		</section>		

		<!--Mostra produtos-->
		<script>
		$(document).ready(function(){
			$("#btn-produtos").click(function(){
			  $("#produtos").slideToggle("slow");
			  $("#dispositivos").hide("slow");
			});
		  });
		</script>

		<!--Mostra Dispositivos-->
		<script>
			$(document).ready(function(){
				$("#btn-dispositivos").click(function(){
				$("#dispositivos").slideToggle("slow");
				$("#produtos").hide("slow");
				});
			});
		</script>

		<!--Busca Produtos-->
		<script>
			$(document).ready(function(){
			$("#myInputP").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#produto div").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
			});
		</script>

		<!--Busca Dispositivos-->
		<script>
			$(document).ready(function(){
			$("#myInputD").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#dispositivo div").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
			});
		</script>
		
{% endblock %}


