{% extends "base.html" %}

{% block title %}
	{{ maquina.name }} - TMS
{% endblock %}

{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}

			<div class="card">
				<div class="img-wrapper" >
					<img src="{{ maquina.image }}" class="rounded" style="max-height: 500px;">
				</div>
				<div class="right-item" style="float: right;">
					<b>{{ maquina.name }}</b>
					<span class="right-item">{{ maquina.code }}</span><br>                
					<div class="details">{{ maquina.details | safe }}</div>                
				</div>
			</div>

			{% if maquina.dispositivos %}
			<div class="container">
			<h3 class="mt-3 text-center">Dispositivos</h3><br>
				<div class="row">
					{% for dispositivo in maquina.dispositivos %}
					<div class="col-sm-3 mg-3">				
						
							<div class="card">
								<div class="img-wrapper" >
									<img src="{{ dispositivo.image }}" style="max-height: 200px;">
								</div>
								<h3>{{ dispositivo.code }}</h3>
								<h3>{{ dispositivo.name }}</h3>
								<a href="{{ url_for('dispositivo', id=dispositivo.id) }}" class="btn btn-detalhe">Ver detalhes</a>
							</div>
						
					</div>
					
					{% endfor %}
				</div>
			</div>
			{% else %}
				<h3 class="text-center mt-3">Sem dispositivos cadastrados</h3>
			{% endif %}

			{% if maquina.itens %}
			<div class="container">
			<h3 class="mt-3 text-center">Produtos</h3><br>
				<div class="row">
					{% for item in maquina.itens %}
					<div class="col-sm-3 mg-3">				
						
							<div class="card">					
								<h3>{{ item.code }}</h3>
								<h3>{{ item.name }}</h3>
								<a href="{{ url_for('item', id=item.id) }}" class="btn btn-detalhe">Ver detalhes</a>
							</div>
						
					</div>
					
					{% endfor %}
				</div>
			</div>
			{% else %}
				<h3 class="text-center mt-3">Sem produtos cadastrados</h3>
			{% endif %}

{% endblock %}


